* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url("../img/63570896-seamless-leaves-pattern-can-be-used-for-wallpaper-website-background-wrapping-paper-autumn-bright.jpg");
  background-size: 300px;
}

.main-container {
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main-heading {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input,
select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #00ce22;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #006832;
}

